/* ----------------------------------creaatePost Post-Container--------------------------------------- */


.user__post__add__conatainer{
    padding: 2rem;
}

.user__action__contianer{
    width: 100%;
}

.post__textarea {
    width: 100%;
    outline: none;
    padding: 0 .5rem;
    border: none;
    resize: none;
    height: 6rem;
}

.post__options{
    border-top: .1rem solid var(--dark);
}
.post__options .user__post__btn{
    margin-left: auto;
    font-size: 2rem;
    border-radius: 8rem;
    padding: .5rem 2rem;
    border: none;
}

.user__post__icon{
    margin-left: 1rem;
    font-size: 2rem;
    color: var(--primary);
    cursor: pointer;
}

.user__post__icons div{
    border: 1px solid var(--primary);
    padding: .5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
}
