/* ---------------------------------------post overlay container */

.postEdit__ovelay__container{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    animation: popIn 260ms;
}

.container__main__createPost__overlay{
    width: 50rem;
    padding: 2rem;
    background-color: white;
    border-radius: 2rem;
}

.postEdit__overlay__visible{
    background-color: var(--dark);
    filter: brightness(20%);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

@keyframes popIn {
    0% {transform: scale(1.05);}
    100% {transform: scale(1.0);}
}