/* ----------------------------------right area--------------------------------------- */

.right__side__items{
    width: 40rem;
    top: 0;
    right: 0;
    height: 100vh;
}

.right__side__search__bar{
    width: 90%;
}

.right__side__search__bar input{
    margin: 1rem 0;
}

.container__followSuggestions{
    border: 1px solid var(--dark);
    width: 90%;
    border-radius: 1rem;
}

.heading__followSuggestions{
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid var(--dark);
}

.heading__followSuggestions span{
    font-weight: bold;
    font-family: var(--font-heading);
    font-size: 1.5rem;
}


/* ---------------------------------------------user list item */

.user__list__item__container{
    width: 100%;
}

.user__listItem__info__container .user__listItem__info .user__listItem__name{
    font-size: 1.3rem;
    font-weight: bold;
}


.user__listItem__info__container{
    width: 100%;
}

.user__listItem__info__container .user__listItem__info .user__listItem__userName{
    font-size: 1.2rem;
}


.user__listItem__info__container button{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    font-family: var(--font-heading);
    margin-left: auto;
}


