/* ----------------------------------right area--------------------------------------- */

.right__side__items{
    width: 40rem;
    top: 0;
    right: 0;
    height: 100vh;
}

.right__side__search__bar{
    width: 90%;
}

.right__side__search__bar input{
    margin: 1rem 0;
}

.container__followSuggestions{
    border: 1px solid var(--dark);
    width: 90%;
    border-radius: 1rem;
}

.heading__followSuggestions{
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid var(--dark);
}

.heading__followSuggestions span{
    font-weight: bold;
    font-family: var(--font-heading);
    font-size: 1.5rem;
}


