
/* --------------------------------- USER-post BODY---------------------------------------- */
.post__container__main{
    border: 1px solid var(--dark);
    border-radius: 1rem;
    cursor: pointer;
    transition: 300ms;
}

.post__container__main:hover{
    background-color: var(--dark-shade);
}

.user__post__body{
    width: 100%;
}

.post__body__userInfo .icon__options{
    margin-left: auto;
    font-size: 1.8rem;
    color: var(--darker);
    border-radius: 50%;
    padding: .5rem 1.5rem;
    cursor: pointer;
    transition: 260ms;
}

.post__body__userInfo .icon__options:hover{
    background-color: var(--primary-shade);
}

.user__name__post{
    font-weight: bold;
    font-family: var(--font-heading);
    font-size: 1.5rem;
}

.user__id__post{
    font-size: 1.1rem;
}


.post__body__content{
    font-size: 2rem;
}

.user__post__actions .svg-inline--fa{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    margin: 1rem 0;
    border-radius: 50%;
    transition: 200ms;
}

.user__post__actions .svg-inline--fa:hover{
    color: var(--primary);
}



