

.contaier__inner__homepage{
    width: 130rem;
}



/* ----------------------------------SIDEBAR--------------------------------------- */
.container__main__sidebar{
    background-color: aqua;
    top: 0;
    left: 0;
    width:30rem;
    height: 100vh;
    padding: 1rem 0;
}

.container__main__sidebar .icon__sidebar .fa-feather-pointed {
    cursor: pointer;
    height: 2.5rem;
    border: .1rem solid black;
    margin:0 1rem;
    border-radius: 50%;
    padding: 1rem;
}

.sidebar__links{
    flex-direction: column;
}

.sidebar__links ul li{
    cursor: pointer;
    align-items: center;

}

.sidebar__links ul li div{
    border-radius: 10rem;
    display: inline-flex;
    padding: 1rem 1.4rem;
    margin-top: .5rem;
    transition: 300ms;
}

.sidebar__links ul li:hover > div{
    background-color: red;
}

.sidebar__links ul li .svg-inline--fa{
    font-size: 2.5rem;
}

.sidebar__links ul li span{
    margin-left: 2rem;
    font-size: 2rem;
}

.container__main__sidebar button{
    width: 20rem;
    padding: 1.5rem 0;
    font-weight: bold;
    border-radius: 5rem;
}

.profile__container{
    margin-top: auto;
    font-size: 2rem;
    cursor: pointer;
    border: .1rem solid black;
}