.contaier__inner__homepage{
    width: 130rem;
}


/* ----------------------------------Main feed--------------------------------------- */

.container__main__feed{
    width: 60rem;
    border-left: 1px solid var(--dark);
    border-right: 1px solid var(--dark);
    overflow-y: scroll;
}

